<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>Jersey Web Application</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>fr.insa.soa.RestProjectSalles</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey Web Application</servlet-name>
    <url-pattern>/webapi/*</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>TemperatureServlet</display-name>
    <servlet-name>TemperatureServlet</servlet-name>
    <servlet-class>fr.insa.soa.servlet.TemperatureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TemperatureServlet</servlet-name>
    <url-pattern>/TemperatureServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LightServlet</display-name>
    <servlet-name>LightServlet</servlet-name>
    <servlet-class>fr.insa.soa.servlet.LightServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LightServlet</servlet-name>
    <url-pattern>/LightServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoorServlet</display-name>
    <servlet-name>DoorServlet</servlet-name>
    <servlet-class>fr.insa.soa.servlet.DoorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoorServlet</servlet-name>
    <url-pattern>/DoorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HeaterServlet</display-name>
    <servlet-name>HeaterServlet</servlet-name>
    <servlet-class>fr.insa.soa.servlet.HeaterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HeaterServlet</servlet-name>
    <url-pattern>/HeaterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PresenceServlet</display-name>
    <servlet-name>PresenceServlet</servlet-name>
    <servlet-class>fr.insa.soa.servlet.PresenceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PresenceServlet</servlet-name>
    <url-pattern>/PresenceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>fr.insa.soa.servlet.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WindowServlet</display-name>
    <servlet-name>WindowServlet</servlet-name>
    <servlet-class>fr.insa.soa.servlet.WindowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WindowServlet</servlet-name>
    <url-pattern>/WindowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainServlet</display-name>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>fr.insa.soa.servlet.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/MainServlet</url-pattern>
  </servlet-mapping>
</web-app>